body {
    margin: auto;
}
.gray {
    background: #ddd;
}
#search {
    width: 500px;
}
footer *{
    list-style-type: none;
}
footer {
    display: flex;
}
.sutun {
    width: 400px;
    margin-right: 10px;
}
.sutun1 {
    background: rgb(0, 255, 0);
}
.sutun2 {
    background: rgb(0, 200, 0);
}
.sutun3 {
    background: rgb(0, 150, 0);
}
