body {
    background: #202124;
    color:  white;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
header {
    display: flex;
    justify-content: end;
    margin-left: 10px;
    align-items: center;
    gap: 1rem;
    font-size: 13px;
}
.profile{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
.profile img {
    object-fit: cover;
    border-radius: 100%;
    width: 50px;
}
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
#search {
    margin: 10px 0;
    width: 600px;
    height: 35px;
    border-radius: 20px;
    background: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, .5);
    color: #fff;
    padding-left: 10px;

}
#search:hover,
#search:focus{
    background: #3f3f3f71;
    border: none;
}
.buttons button {
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: #383838;
}
.buttons button:hover {
    border: 1px solid rgba(255, 255, 255, .5);
}
footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    background: #181818;
    display: flex;
    flex-direction: column;
    color: rgba(255,255,255,.7)
}
.footer_ust {
    padding-left: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    margin: 10px 0;
}
.footer_alt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer_alt a {
    text-decoration: none;
    color: rgba(255,255,255,.7)
}
.karbon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.karbon img {
    margin: 0 10px;
}
footer a:hover {
    text-decoration: underline;
}