h1{
    color:#db0909;

}
a{
    color: #163607;
    margin: 10px;
  
   

}
body{
    text-align:center;
}
 
 h2{
    color:#141413;
 }
 li{
    list-style-position: inside
 }
 .baslik{
    color:#1207eb ;

 }
 